.login {
    border: solid black 2px;
    width: 50%;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login > h2, p, a {
    text-align: center;
}
.btn {
    width: 30%;
    
}
.btn > a {
    color: black;
}