button > img {
    width: 20px;
    height: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body > img {
    width: 150px;
    height: 150px;
}

.product-add {
    text-align: center;
    color: cadetblue;
}