<button (click)="getProduct(idArticle)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shopModal">
   <img src="../../../assets/panier.png" alt="">
  </button>

<div class="modal fade" tabindex="-1" id="shopModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{product?.title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <img [src]="urlImg+product?.img" width="250" alt="">
            {{product?.price}} Euros
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addProduct(product)">Ajouter au panier</button>
          <label for="quantity">Quantité</label><input type="number" [(ngModel)]="quantity">
        </div>
        <p class="product-add">{{productAddMessage}}</p>
      </div>
    </div>
  </div>
