<!-- Button trigger modal -->
<button (click)="getProduct(idArticle)" type="button" class="btn btn-primary details" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Détails
  </button>
  
  <!-- Modal -->
  <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
       
          <div class="modal-header">
           
              
              <!-- Autres propriétés du produit -->
         
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{product?.titleArticle}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

        <div class="modal-body">
          {{product?.description}}
          <img src="{{product?.urlImg}}" width="250" alt="">
          {{product?.priceArticle}} Euros
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
