<div class="register">
  <h2>S'inscrire</h2>
  <form (ngSubmit)="handleSubmit()" [formGroup]="registerForm">
    <div>
      <label for="name">Name</label>
      <input formControlName="name" type="text" />
      <p *ngIf="hasErrorAndTouched(registerForm, 'name', 'required')">
        Ce champ est requis
      </p>
    </div>
    <div>
      <label for="surname">Surname</label>
      <input formControlName="surname" type="text" />
    </div>
    <div>
      <label for="birthdate">Année de naissance</label>
      <input formControlName="birthdate" type="date" />
      <p *ngIf="hasErrorAndTouched(registerForm, 'birthdate', 'required')">Ce champ est requis</p>
      <p *ngIf="hasErrorAndTouched(registerForm, 'birthdate', 'notMajor')">Vous devez être majeur</p>
    </div>
    <div>
      <label for="email">Email</label>
      <input formControlName="email" type="email" />
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input formControlName="password" type="password" />
    </div>
    <button
      [disabled]="!registerForm.valid"
      type="submit"
      class="btn btn-primary"
    >
      S'inscrire
    </button>
  </form>

  <a class="btn btn-primary" routerLink="/login">Déja un compte ?</a>
</div>
{{registerForm.valid| json}}