.articleInfo {
    width: 18rem;
   
}
h3 {
    font-size: 1.3rem;
}

img {
    /* width: 286px; */
    height: 200px;
    margin: auto;
}
.row-display {
    display: flex;
    margin-bottom: 2px;
}
.row-display > a {
    margin-top: 2px ;
}