 <div class="card articleInfo" style="width: 18rem">
  <img [src]="img" class="card-img-top" [alt]="alt" />
  <div  class="card-body">
    <app-title [title]="title"  />
    <app-price [price]="price" />
    <h3>{{description}}</h3>
    <div class="row-display">
      <app-modal-details [idArticle]="id" [descriptionArticle]="description"/>
      <!-- <a routerLink="/article/{{ id }}">Détails</a> -->
        <app-like [liked]="like" [disliked]="disliked" [title]="title" [id]="id" [isLiked]="isLiked" [isDisliked]="isDisliked" />
    </div>
    
    <app-comment [comment]="comment"/>
  </div>
</div> 


