 <div class="card articleInfo" style="width: 18rem">
  <img [src]="img" class="card-img-top" [alt]="alt" />
  <div class="card-body">
    <app-title [titleArticle]="titleArticle" [availabe]="availabe" />
    <app-price [priceArticle]="priceArticle" />
    <h3>{{description}}</h3>
    <div class="row-display">
      <app-modal-details [id]="id"></app-modal-details>
      <!-- <a routerLink="/article/{{ id }}">Détails</a> -->
        <app-like [liked]="liked" [disliked]="disliked" [titleArticle]="titleArticle" [id]="id" />
    </div>
    
    <app-comment [comment]="comment"/>
  </div>
</div> 


