<div class="productInfo">
  <img [src]="img" [alt]="alt" />

  <div class="card-body">
    <div class="product">
      <div class="title-price">
        <app-title [title]="title" />
        <app-price [price]="price" />
      </div>
      <div class="desc">
        <h3>{{ description }}</h3>
      </div>
    </div>

    <div class="row-display">
      <app-modal-details [idArticle]="id" [descriptionArticle]="description" />
      <!-- <a routerLink="/article/{{ id }}">Détails</a> -->
      <app-like
        [liked]="like"
        [disliked]="disliked"
        [title]="title"
        [id]="id"
        [isLiked]="isLiked"
        [isDisliked]="isDisliked"
      />
    </div>

    <app-comment [comment]="comment" />
  </div>
</div>
