<app-navbar />

<div  class="container">
  <div id="alertMsg">
    <p>{{ message }}</p>
  </div>
  <div id="home">
    <app-article
      [titleArticle]="'Vélo'"
      [priceArticle]="120"
      (isLikedMessage)="getMessage($event)"
    ></app-article>
    <app-article
      [titleArticle]="'Bateau'"
      [priceArticle]="3000"
      (isLikedMessage)="getMessage($event)"
    ></app-article>
    <app-article
      [titleArticle]="'Voile'"
      [priceArticle]="599"
      (isLikedMessage)="getMessage($event)"
    ></app-article>
  </div>


  </div>

<app-footer />

<!-- <router-outlet></router-outlet> -->
