<h2>Votre panier</h2>
    <div class="command-product" *ngFor="let product of panier">
        <img [src]="imgUrl + product.img" alt="">
        <h4>{{product.title}} </h4>
        <p>Prix  <br />{{product.price}} Euros</p>
        <p>Quantité  <br />{{product.quantity}} X</p>
        <p> <span class="total-price">Prix total</span>  <br /> {{product.price*product.quantity}} Euros</p>
    </div>
    <h4 class="total">TOTAL : {{totalPrice}} Euros</h4>


<button (click)="postCommand()" class="btn btn-success previous-commande">Passer la commande</button>
<a (click)="show()" class="btn btn-primary previous-commande" [routerLink]="showPreviousCommand ? ['/profil/panier/commande'] : ['/profil/panier']">Afficher les commandes précédantes</a>
<router-outlet></router-outlet>