<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Catégories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" routerLink="/article/categories/pain">Pain</a>
    <a class="dropdown-item" routerLink="/article/categories/baguette">Baguette</a>
    <a class="dropdown-item" routerLink="/article/categories/vienoisserie">Vienoisserie</a>
  </div>
</div>

<div  class="container">
    <div id="alertMsg">
      <p>{{ message }}</p>
    </div>
    <!-- <div testDirective id="home">
      <app-article  *ngFor="let article of articles"
      [id]="article.id"
      [titleArticle]="article.titleArticle"
      [priceArticle]="article.priceArticle"
      [description]="article.description"
      [availabe]="article.available"
      [liked]="article.numberOfLike"
      [disliked]="article.numberOfDislike"
      [isLiked]="article.isLiked"
      [isDisliked]="article.isDisliked"
      [img]="article.urlImg"
      [alt]="article.textAltImg"
     
      />
    </div> -->
    <div testDirective id="home">
      <app-article *ngFor="let product of products"
      [id]="product.id"
      [title]="product.title"
      [price]="product.price"
      [description]="product.description"
      [img]="'http://localhost:8080/'+ product.img"

      />
    </div>
  
  
    </div>

  
