

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Catégories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" routerLink="/article">Voir tout</a>
    <a class="dropdown-item" routerLink="/article/categories/pizza">Pizza</a>
    <a class="dropdown-item" routerLink="/article/categories/dessert">Dessert</a>
    <a class="dropdown-item" routerLink="/article/categories/boisson">Boisson</a>
    <a class="dropdown-item" routerLink="/article/categories/autre">Autre</a>
  </div>
</div>


  <router-outlet>
    
  </router-outlet>

