.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 150px;
    
}
.articleInfo {
    width: 20rem;
    margin-left: 5px;


}

.row-display {
    display: flex;
    margin-bottom: 2px;
}
.row-display > a {
    margin-top: 2px ;
}