<div class="categorie">
  <div class="productInfo" *ngFor="let product of filteredProduct">
    <img [src]="imgUrl + product.img"  />
    <div class="card-body">
      <div class="product">
        <div class="title-price">
  
          <app-title [title]="product.title" />
          <app-price [price]="product.price" />
  
        </div>
        <div class="desc">
          <h3>{{ product.description }}</h3>
        </div>
        
      </div>
      <div class="row-display">
        <app-modal-details
          [idArticle]="product.id"
          [descriptionArticle]="product.description"
        />

        <app-like
          [liked]="product.like"
          [disliked]="product.dislike"
          [title]="product.title"
          [id]="product.id"
          [liked]="product.like"
        />
      </div>
    </div>
  </div>
</div>
