<div class="container">
  <div class="card articleInfo" *ngFor="let product of filteredProduct">
    <img [src]="product.img" class="card-img-top" />
    <div class="card-body">
      <app-title [title]="product.title" />
      <app-price [price]="product.price" />
      <h3>{{ product.description }}</h3>
      <div class="row-display">
        <app-modal-details
          [idArticle]="product.id"
          [descriptionArticle]="product.description"
        />

        <app-like
          [liked]="product.like"
          [disliked]="product.dislike"
          [title]="product.title"
          [id]="product.id"
          [liked]="product.like"
        />
      </div>
    </div>
  </div>
</div>
